.InfoContainer {
    padding: 5px !important;
    position: relative;
    text-align: center;
  }
  
  .InfoImageMobileText {
    font-family: "Verdana", "Helvetica", "Arial";
    font-size: 20px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    .InfoImageMobileText {
        font-size: 12px;
        width: 80%;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .InfoImageMobileText {
        font-size: 35px;
      }
}