.SubRosterHeader,
.MemberName,
.FollowLink {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.MemberName {
    color: #222;
    text-shadow: 0px 2px 4px #c94c4c;
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    .SubRosterContainer {
        padding: 50px 40px 0px 40px !important;
    }

    .SubRosterHeader {
        font-size: 5vw;
        padding-bottom: 20px;
    }
    .MemberName {
        font-size: 12px;
        padding: 4px;
    }
    .FollowLink {
        font-size: 12px;
        padding-top: 25px;
        padding-bottom: 40px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .SubRosterContainer {
        padding: 50px 40px 0px 40px !important;
    }

    .SubRosterHeader {
        font-size: 25px;
        padding-bottom: 20px;
    }
    .MemberName {
        font-size: 12px;
        padding: 4px;
    }
    .FollowLink {
        font-size: 15px;
        padding-top: 25px;
        padding-bottom: 40px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .SubRosterContainer {
        padding: 50px 40px 0px 40px !important;
    }

    .SubRosterHeader {
        font-size: 30px;
        padding-bottom: 20px;
    }
    .MemberName {
        font-size: 15px;
        padding: 5px;
    }
    .FollowLink {
        font-size: 15px;
        padding-top: 25px;
        padding-bottom: 40px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .SubRosterContainer {
        padding: 50px 50px 0px 50px !important;
    }

    .SubRosterHeader {
        font-size: 35px;
        padding-bottom: 40px;
    }

    .MemberName {
        font-size: 20px;
        padding: 5px;
    }

    .FollowLink {
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}