.SubRosterHeader,
.MemberName,
.FollowLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .SubRosterContainer {
        padding: 50px 50px 0px 50px !important;
    }

    .SubRosterHeader {
        font-size: 35px;
        padding-bottom: 40px;
    }

    .MemberName {
        font-size: 20px;
        color: #222;
        text-shadow: 0px 2px 4px #c94c4c;

        padding: 5px;
    }

    .FollowLink {
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}