.TopDisclaimer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.navbar-brand {
  max-width: 500px;
}

.navbar-toggler {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-nav {
  align-items: center;
  justify-content: center;
}

.NavButton {
  white-space: nowrap;
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  .navbar-brand {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .TopDisclaimer {
    font-size: 10px;
    padding: 2px 0px 2px 0px;
  }

  .NavButton {
    font-size: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar-brand {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .NavButton {
    font-size: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar-brand {
    position: relative;
    left: 0%;
    transform: translateX(0%);
  }

  .TopDisclaimer {
    font-size: 12px;
  }
  .NavButton {
    font-size: 18px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .TopDisclaimer {
    font-size: 20px;
  }
  .NavButton {
    font-size: 30px;
  }
}