.TopDisclaimer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.navbar-brand {
  max-width: 500px;
}

.NavButton {
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

@media (min-width: 1200px) {
  .TopDisclaimer {
    font-size: 20px;
    padding: 5px 0px 5px 0px;
  }
  .NavButton {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .TopDisclaimer {
    font-size: 12px;
    padding: 2px 0px 2px 0px;
  }
  .NavButton {
    font-size: 20px;
  }
}