/*Disclaimer.js*/
.TopDisclaimer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/*TopNavigation.js*/
.navbar-brand {
  max-width: 500px;
}

.navbar-toggler {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}


/*Information.js*/
.InfoPicture {
  
}

/*@Media*/
@media (min-width: 1200px) {
  .TopDisclaimer {
    font-size: 20px;
  }

  .NavButton {
    font-size: 30px;
  }

  .MainContainer {
    padding: 50px;
  }
  .InfoLeft {
    align-items: center;
    font-size: 2.25vh;
    padding-left: 50px;
  }
}

@media (max-width: 500px) {
  .TopDisclaimer {
    font-size: 12px;
    padding: 2px 0px 2px 0px;
  }

  .NavButton {
    font-size: 20px;
  }
}